body {
  background-color: #9c795c;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: 'Poppins', sans-serif;
}

.content {
  margin: 50px;
}

.header {
  width: 100%;
  height: 50px;
  background: #FFF;
  font-size: 100px;
  display: flex;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
}

#authHead {
  justify-content: center;
}

.header-g {
  width: 100%;
  height: 50px;
  background: #FFF;
  font-size: 100px;
  display: flex;
  gap: 10px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: left;

}

.beranda {
  display: flex;
  gap: 10px;
  color: #fabe56;
}

.header-g a {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.item {
  color: #fabe56;
}

.item-nav {
  color: #090973;
}

.header-1 {
  color: #090973;
  ;
}

.header-2 {
  color: #EF9F22;
  ;
}

.button {
  border-radius: 32px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: black;
  font-style: normal;
  font-weight: 700;
}

.button-item {
  color: #FFF;
  text-align: center;
  background: #090973;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.button-item p {
  margin: 0;
}

.button a {
  font-size: 20px;
  text-decoration: none;
  color: #46351D;
  ;
  font-family: 'Poppins', sans-serif;
}

.button-a {
  text-decoration: none;
  color: #46351D;
  ;
  font-family: 'Poppins', sans-serif;
}

.button-item button {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.greeting {
  color: #090973;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.forget {
  color: #090973;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.discon {
  width: 1159px;
  height: 180px;
  display: flex;
  border-radius: 30px;
  border: 6px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  background: url('/images/diskon.png') lightgray 50% / cover no-repeat;
  color: #fff;
  text-align: center;
  justify-content: center;
  gap: 30px;

}

.diskon-caption {

  text-shadow: 1.2654134035110474px 2.5308268070220947px 2.5308268070220947px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  /* 157.813% */
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.diskon-value {

  text-shadow: 1.2654134035110474px 2.5308268070220947px 2.5308268070220947px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  gap: 40px;

}

.off {
  font-size: 70px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-weight: 800;
}

.tutor {
  margin: 50px;
  pad: 30px;
  width: 1169px;
  height: 374px;

  border-radius: 30px;
  background: linear-gradient(92deg, #090973 -15.8%, #C2C2FF 9.79%, #FFF 52.3%, #EF9F22 104.15%);
  border-radius: 30px;
  border: 6px solid #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}

.produk {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 item per baris */
  gap: 50px;
}

.barang {
  width: 229px;
  height: 229px;
  margin: 10px;
  padding: 20px;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('/images/Star5.png');
}

.produk-name {
  color: #090973;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.produk-prize {
  color: #090973;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.produk-desc {
  color: #090973;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.produk-image {
  margin: 20px 0 10px;
  width: 190px;
  height: 120px;
  border-radius: 20px;
}

.produk-image img {
  width: 190px;
  height: 120px;
  background: none;
}

.list-barang {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  /* Membungkus item ke baris berikutnya */
  gap: 20px;
  /* Margin negatif untuk mengkompensasi gap */
}

.barang-item {
  width: 320px;
  height: 229px;

  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.barang-detail1 {
  width: 120px;
  height: 220PX;

  background: url('/images/Star5.png');
  background-size: 190px;
}

.barang-detail1 img {
  width: 150px;
  height: 180PX;
  background: none
}

.barang-detail2 {
  width: 120px;
  height: 220px;
  padding: 30px;

}

.search {
  width: 513px;
  height: 34px;
}

.path {

  display: flex;
  gap: 30px;
}

.path-name {
  color: #FFBD56;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;


  ;
}

.path-before {
  text-decoration-line: underline;
}

.path-produk {
  color: #090973;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.detail-img {
  width: 520.943px;
  height: 349.981px;
  border-radius: 32px;
  background: url('/images/Star5.png');
  background-size: 510px;
  background-position: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-img img {

  background-color: none;
  width: 380.102px;
  height: 220.93px;

}

.size-name {
  color: #090973;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  /* 52.778% */
}

.size-price {
  color: #090973;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  /* 52.778% */
}

.detail-brg {
  width: 520px;
  height: 223px;

  border-radius: 32px;
  background: #FFEDCE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #090973;
  font-family: 'Poppins', sans-serif;
}

.detail-brg h1 {
  font-weight: 700;
}

.detail-size {
  width: 564px;
  height: 538px;
  margin: 50px;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.count {
  padding: 20px;
  justify-content: space-between;
  width: 480px;
  height: 130px;
  border-radius: 30px;
  background: #090973;
}

.count h1 {
  align-items: justify;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.count-prize {
  display: flex;
  justify-content: space-between;
}

.button-cart {
  width: 100px;
  display: flex;
  justify-content: center;
}

.cart {
  border: none;
  width: 102px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 32px;
  background: linear-gradient(270deg, #FFF 44.49%, rgba(255, 255, 255, 0.00) 100%);
}

.flex-cart {
  display: flex;
  gap: 50px;
}

.cart-title {
  color: #090973;
  font-family: 'Poppins' sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  /* 29.688% */
}

.table-cart {
  width: 660px;
  height: 135px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #090973;
  font-family: 'Poppins' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;

}

.table-cart th {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.table-cart th,
td {
  padding: 30px;
}

thead {
  border: 1px solid black;
}

.table-cart-head {
  color: #090973;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 19px;
  /* 79.167% */
}

.tabel-count {
  color: #EF9F22;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: space-around;
}

.summery {
  width: 436px;
  height: 394px;
  border-radius: 32px;
  background: #090973;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  color: #FFF;
}

.flex-tax{
display: flex;
justify-content: space-between;
}
.checkout{
  width: 272px;
height: 41px;
flex-shrink: 0;
border-radius: 32px;
background: linear-gradient(270deg, #FFF 44.49%, rgba(255, 255, 255, 0.00) 100%);
color: #090973;
text-align: center;
font-family: 'Poppins',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}
.checkoutbutton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-img {
  max-width: 50px;
  height: auto;
}

.custom-table{
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-dialog {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  animation: fadeIn 0.5s ease;
}

.modal-content {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 1rem;
}



.close {
  cursor: pointer;
}

.modal-footer {
  border-top: 1px solid #ccc;
  padding: 0.5rem 1rem;
  text-align: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-flex{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.flash-message {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

.success {
  background-color: #4CAF50; /* Warna latar belakang hijau */

}


.img-detail {
  display: flex;
  justify-self: center;
  width: 200px;
}

/* Anda dapat menambahkan gaya CSS tambahan sesuai kebutuhan */

.size-input{
  display: flex;
  flex-basis:auto
}

.flex-deliver{

  padding: 50px ;
  margin: 0 50px;

}
